@import url('https://fonts.googleapis.com/css2?family=Open+Sans:wght@400;700&family=Poppins:wght@700&display=swap');

@import url('https://use.fontawesome.com/releases/v6.1.2/css/all.css');
@import url(CSS/components/card.css);
@import url(CSS/components/Menu.css);
@import url(CSS/components/banner.css);
@import url(CSS/components/button.css);
@import url(CSS/components/footer.css);
@import url(CSS/components/container.css);

body {
  margin: 0;
  padding: 0;
  font-family: 'Open Sans', sans-serif;
  background: #f9f9f9;
  color: #333;
  line-height: 1.6;
}

header, .container, .footer {
    padding: 20px; 
    text-align: center;
}



.stylish-image {
position: center;
width: 700px;
display: block;
margin: 0 auto;
box-shadow: 0 4px 8px rgba(0,0,0, 0.2);
border: 2px solid #ddd
}


h1{
color: bisque;
}

h2{ 
text-decoration: underline;   
}














